{% extends "layout.html.twig" %}

{% block title %}Derniers articles{% endblock %}

{% block content %}
{% for article in articles %}
<article>
    <h2>{{ article.titre }}</h2>
    <p>{{ article.contenu }}</p>
</article>
{% else %}
<div class="alert alert-warning">Aucun article trouvé</div>
{% endfor %}
{% endblock %}
